.roundImg{
    /* height: 75px; */
    width: 25%;
    overflow: hidden;
    border-radius: 50%;
}

.rowContainer{
    display: flex;
    flex-direction: row;
}
.columnContainer{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.name{
    font-size: 36px;
    margin: 24px;
    font-weight: bold;
}
.bio{
    font-style: italic;
    margin: 24px;
    margin-top: 0px;
    font-size: 20px;
}
.rank{
    margin-left: 24px;
}
.wholeContainer{
    margin: 36px;
}