.roundImg{
    height: 25%;
    width: 15%;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 36px;
}

.rowContainer{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.columnContainer{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.name{
    font-size: 18px;
    margin: 18px;
    font-weight: bold;
}
.bio{
    font-style: italic;
    margin: 14px;
    margin-top: 0px;
    font-size: 14px;
}
.rank{
    margin-left: 12px;
}
.wholeContainer{
    margin: 36px;
}